.login-btn {
  background-color: #2559F4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: #F4F5F5;
}

.login-naver {
  background-color: #00D164;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

.login-kakao {
  background-color: #fde831;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.login-google {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: #4d4d4d;
  border : 2px solid #4d4d4d;
}


