#EnterButton {
  background-color: #2559F4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: none;
  
}
#innerText {
  font-size: 20px;
  font-weight: 600;
  color: #F4F5F5;
}