*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;

}
/* 폰트 : 프리텐다드 */
@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/pretendard/Pretendard-Thin.otf');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/pretendard/Pretendard-ExtraLight.otf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/pretendard/Pretendard-Light.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/pretendard/Pretendard-Regular.otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/pretendard/Pretendard-Medium.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/pretendard/Pretendard-SemiBold.otf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/pretendard/Pretendard-Bold.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/pretendard/Pretendard-ExtraBold.otf');
  font-weight: 800;
  font-style: normal;
}


/* << Home >> */
.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -100px;
  
}

.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}
img.MainLogo {
  height: 20vh;
}
h1 {
  background: linear-gradient(to bottom, #6EC9F7,#3728FF);
  color: transparent;
  -webkit-background-clip: text;
  font-weight: 700;
  font-size: 3vh;
}
