.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 60px 200px 30px 200px ;
  height: 1000px;
  width: 800px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}
.login-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.login-header > img {
  width: 300px;
}
.title-text {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: 600;
}
.login-box-title{
  font-size: 60px;
  font-weight: 800;
  text-align: center;
}



.login-input-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.login-sns-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}


.text-small-box {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #9DA5AE;
}

