body{
    font-family: 'Pretendard';
}

h1 {
    font-weight: 900;
    background: linear-gradient(to bottom, #6EC9F7,#3728FF);
    color: transparent;
    -webkit-background-clip: text;
}

/* í™ˆ */
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

img.MainLogo {
    height: 250px;
}

.custom-input{
    width: 800px;

}

/* searchBar CSS */
#container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;

}
.InputSearch3::placeholder{
    color : #9DA5AE;
    font-size: 16px;
}
#container input{
    border-radius: 30px;
    padding-left: 100px;
    height: 60px;
}
.btn1{
    position: absolute;
    left: 65px;
    border : none;
    outline: none;
    background: none;
}
.btn2{
    position: absolute;
    left: 5px;
    border : none;
    outline: none;
    background: none;
}
.btn3{
    position: absolute;
    right: 5px;
    border : none;
    outline: none;
    background: none;
}