.input-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.title{
  font-size: 100px;
  font-weight: 800;
}
.text-input{
  text-align: left;
  padding-left: 10px;
}
.text-input::placeholder{
  font-weight: 700;
  text-align: left;
  text-indent: 0px;
}