/*! 이거 삭제 해도 되지 않나? */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-shrink: 0;

}
.class-a
.class-b
[class*="class-"]

/* << Home >> */
.home-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 210px 32px 360px 32px;
  height: 600px;
  min-width: 600px;
  width: 100%;
  
}
/*<< 메인로고 + 텍스트 >>*/
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;


  
}
/* 메인로고 */
img.main-logo {
  height: 250px;
}
.main-title {
  background: linear-gradient(to bottom, #6EC9F7,#3728FF);
  color: transparent;
  -webkit-background-clip: text;
  font-weight: 700;
  font-size: 36px; 
  text-align: center;
  letter-spacing: 0.05em;
}
