
.frame-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 60px 200px 30px 200px ;
  height: fit-content;
  width: 800px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);

}

.login-input-box{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.login-sns-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}


.text-small-box {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #9DA5AE;
  
}
.text-small {
  text-align: center;
  color: #9DA5AE; /* 원하는 텍스트 색상 */
  text-decoration: none; /* 밑줄 제거 */
}

.text-small:hover {
  color: #6a6f75; /* 마우스를 올렸을 때도 같은 색상 유지 */
  text-decoration: none; /* 마우스를 올렸을 때도 밑줄 제거 */
}


