/* << SearchBar >> */
.searchbar-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 200px;
    max-width: 700px;
  }
  
  .search-input{
    text-indent: 72px;
    height: 60px; 
  }
  .search-input::placeholder {
    color: #BDBDBD;
    font-size: 16px; /* 16px */
  } 
  
  .icon1{/* 마이크 아이콘 */
    position: absolute;
    left: 14px;
    border: none;
    outline: none;
    background: none;
    height: fit-content;
  }
  .icon1 > img {
    height: 40px; 
  }
 
  .icon2{ /* 돋보기 아이콘 */
    position: absolute;
    left: 60px;
    border: none;
    outline: none;
    background: none;
  }
  .icon3 {
    position: absolute;
    right: 18px;
    border: none;
    outline: none;
    background: none;
    height: fit-content;
  }