@charset 'UTF-8';

/// --------------------------------------------------------------
/// # 메인 컨텐츠 <main> 
/// --------------------------------------------------------------
/// - .app-content 
/// - #content
/// - #chat-content
/// --------------------------------------------------------------

.app-content {
  // &-wrap{}
}

#content {
  @include position( relative, z 1 );
  height: 100%;

  section { @include position( relative ); }
  
  
  /* 채팅 프롬프트 (Chat Prompt)
  */
  #chat-prompt {

    & { 
      margin: 0 auto;
      @include position( relative );
      width: 100%;
      // max-width: 1280px;
    }

    // 폼 필터 (form-filter)
    .form-filter {

      @include position( absolute, l 0 );
      width: 100%;

      $h: 50px;
      height: $h; 

      &:nth-child(1) { top: -#{$h}; }

    } // .form-filter

    /// @ 미디어 쿼리
    $bps: $grid-breakpoints;
    $_md: map-get( $bps, "md" );
    $_lg: map-get( $bps, "lg" );
    $_xl: map-get( $bps, "xl" );

    @include media( "<#{$_md}" ) {
      &, 
      .form-filter { padding: 0 2rem; }

      // : 비활성화 
      &:not(.activated) {}
    }
    @include media( ">=#{$_md}", "<#{$_xl}" ) {

      &, 
      .form-filter { padding: 0 2.5rem; }

      // : 비활성화 
      &:not(.activated) {
        width: 580px;
      }
    }
    @include media( ">=#{$_xl}" ) {

      & { max-width: calc( 780px + 6rem ); }

      &, 
      .form-filter { padding: 0 3rem; }

      // : 비활성화 
      &:not(.activated) {
        width: 680px;
      }

      // : 활성화 
      &.activated { width: 100%; }
    }

  } // #chat-prompt

  /* 채팅 컨텐츠 바 (Chat Content bar)
  */
  #chat-content-bar {

    .form {

      &-before { 

        .headline { 
          margin-bottom: .25em; 

          $_color:  map-get( map-get( $color-palette, "br" ), "200" );
          text-shadow: 1px 1px #{$_color}, 2px 2px #{$_color}, 3px 3px #{$_color}, 4px 4px #{$_color};
        }

        .headline + p { 
          padding: 1em;
          font-size: 1em; 
          background-color: var(--app-color-white);
          color: var(--app-color-text-bodysub);
          border: 1px solid var(--app-color-br-100);

          @include set-prefix( transition, background-color 0.6s ease, 'webkit' '' );
        } // .headline + p
      } // &-before

    } // .form

    &:not( .focused ) {

      .form-before {  
        .headline { @extend %focus-in-contract; }
      }

    }

    &:is( .focused ) {

      .form-before {  
        .headline { @extend %blur-out-expand-fwd; }
        .headline + p { border-color: transparent; background-color: transparent; }
      }
      
    }


      // @include grid-c( 1, 4, 20, row-dense );
    // .content {

    //   $prefix: content;

    //   &.#{$prefix}-popular {
        
    //     .boxes {
    //       @include grid-c( 1, 3, 16, row-dense, justify-items-center items-stretch, "posts keywords" );
    //       grid-template-columns: 2fr 1fr; 
    //     }

    //     .boxes .box {
    //       background-color: #eee;
    //       width: 100%;

    //       &:nth-child(1) { @include grid-item( $area: posts ); }
    //       &:nth-child(2) { @include grid-item( $area: keywords ); }
    //     }

    //     .list-entry:is(.list-entry-post) {

    //       .entry-card { 

    //         &, 
    //         &-content {
    //           @include flex-c( flex row justify-start items-center );
    //         }
            
    //       }

    //     } // .list-entry

    //   } // &-popular

    // } // .content


  } // chat-content-bar

  /* 채팅 컨텐츠 (Chat Content)
  */
  #chat-content {
  } // chat-content-bar


}






/// --------------------------------------------------------------
/// 채팅 세션 (Chat Session)
/// --------------------------------------------------------------
/// - .home
/// --------------------------------------------------------------

body:is(.home) .app-content {

  &-wrap {
    // # grid-container( $rows:number, $cols:number, $gap:number, $align:list, $auto:list, $areas:list)
    @include grid-c( 1, 1, 0, f row-dense, justify-items-start items-stretch self-stretch );
  } // &-wrap

  &#content {
    width: 100%;
    
    &, & > section { min-height: 100%; }

    /* 채팅 프롬프트 (Chat Prompt)
    */
    // 세션 : 채팅 세션 
    #chat-session {

      // : 채팅 컨텐츠 
      #chat-content {

        .chat-list {

          &-item { margin-bottom: 1.75em; }

        }

      }

      // : 채팅 컨텐츠 바  
      #chat-content ~ #chat-content-bar {
        @include set-prefix( transition, bottom 0.6s ease(out-quad), 'webkit' '' );
      }

      // 채팅 프롬프트 (Chat Prompt)
      #chat-prompt { 
        @include set-prefix( transition, width 0.6s 0.0s ease(in-circ),  'webkit' '' ); 

        &:not(.activated) {
          .form-filter { display: none; }
        }
       
      } // #chat-prompt

    } // #chat-content

  } // #content 

}
